@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #2f2f2f;
  --text-dark: #18181b;
  --text-light: #71717a;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Lora", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 9rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.section__subheader {
  color: var(--text-light);
}

.btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    ),
    url("./images/backgroundd.png");
  background-position: center center;
  background-size: cover;
  max-height: 90vh;
  height: 100%;
  background-repeat: no-repeat;
}

nav {
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 3px 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 9999;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
}

.nav__logo {
  flex: 1;
}

.nav__logo img {
  width: 110px;
  height: 110px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  position: relative;
  padding: 10px 0;
  color: #0e7a48;
  transition: 0.3s;
  font-size: 19px;
}

.link a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: black;
  transition: 0.3s;
}

.link a:hover::after {
  width: 100%;
}

.nav__menu__btn {
  display: none;
  font-size: 1.5rem;
  color: var(--white);
}

.nav__actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}
.nav__actions a {
  color: var(--white);
}
.nav__actions span {
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
}

.header__container {
  text-align: center;
  color: var(--white);
}

.header__container h1 {
  font-size: 3.1rem;
  margin-top: 9rem;
  padding-bottom: 22px;
  padding-right: 22px;
  font-weight: 600;
  width: 90%;
  text-align: start;
}

.header__container p {
  padding-top: 2rem;
  text-align: start;
  line-height: 42px;
  margin-bottom: 4rem;
  font-size: 1.1rem;
  width: 60%;
}

.header__container form {
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  margin-bottom: 4rem;
  padding-block: 0.25rem;
  padding-inline: 1.25rem 0.25rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 5rem;
}

.header__container input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: transparent;
}

.header__container input::placeholder {
  color: var(--white);
}

.header__container button {
  padding: 11px 12px;
  font-size: 1.25rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 100%;

  cursor: pointer;
}

.header__container a {
  display: inline-block;
  padding: 0 12px;
  font-size: 3rem;
  color: var(--white);
  backdrop-filter: blur(10px);
  border: 1px solid var(--white);
  border-radius: 100%;
}

.choose__container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.choose__container .choose__bg {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-3rem);
  max-width: 300px;
  opacity: 0.4;
  z-index: -1;
}

.choose__grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

.choose__card span {
  display: inline-block;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  font-size: 1.25rem;
  background-color: #cad8d8;
  border-radius: 100%;
}

.choose__card h4 {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.choose__card p {
  color: var(--text-light);
}
.choose__image {
  overflow: hidden;
  width: 100%;
}
.choose__image img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__container {
  padding-block: 5rem;
  display: grid;
  padding-left: 12px;
  padding-right: 12px;
  grid-template-columns:
    minmax(0, 1fr)
    minmax(0, var(--max-width))
    minmax(0, 1fr);
  row-gap: 2rem;
}

.offer__grid__top {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow: hidden;
  width: 100%;
}

.offer__grid__bottom {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  overflow: hidden;
  width: 100%;
}

.offer__grid__bottom img {
  width: 100%;
  object-fit: cover;
}

.offer__grid__top img {
  width: 100%;
  object-fit: cover;
}

.offer__container img {
  border-radius: 10px;
  height: 190px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__content {
  padding-right: 1rem;
}

.offer__content .section__subheader {
  margin-bottom: 2rem;
}

/* Hover effect for text over the images */
.offer__image-container {
  position: relative;
}

.offer__image-container img {
  width: 100%;
  object-fit: cover;
  height: 190px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.offer__image-container .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.offer__image-container:hover .hover-text {
  opacity: 1;
}

.modern__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__image {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  min-height: 470px;
  margin: auto;
}
.modern__image img {
  width: 100%;
  object-fit: cover;
}

.modern__bg {
  position: absolute;
  max-width: 200px;
  right: 0;
  top: -4rem;
  opacity: 0.5;
}

.modern__img-1,
.modern__img-2,
.modern__img-3 {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.modern__img-1 {
  max-width: 415px;
}

.modern__img-2 {
  max-width: 175px;
  right: 0;
}

.modern__img-3 {
  max-width: 250px;
  right: 0;
  bottom: -13px;
}

.modern__grid {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.modern__card {
  display: flex;
  gap: 1rem;
}

.modern__card span {
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--text-dark);
}

.modern__card p {
  color: var(--text-light);
}

.testimonial__container .section__header {
  text-align: center;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.testimonial__card {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.testimonial__card p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--text-dark);
}

.testimonial__card img {
  max-width: 60px;
  margin-inline: auto;
  margin-bottom: 1rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.testimonial__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.testimonial__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.blog__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog__card img {
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.blog__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.blog__card p {
  font-weight: 500;
  color: var(--text-dark);
}

.blog__card p span {
  font-weight: 400;
  font-style: italic;
  color: var(--text-light);
}
footer {
  width: 100%;

  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,
a {
  color: #fff;
}
footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}
footer .content p {
  text-align: justify;
}
footer .content .lower .topic {
  margin: 24px 0 5px 0;
}
footer .content .lower i {
  padding-right: 16px;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
}
footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #0e7a48;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #0e7a48;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
  background: none;
  color: white;
}
footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover {
  border-color: #0e7a48;
}
footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a {
  color: #0e7a48;
}
footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #0e7a48;
}
@media (max-width: 1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}
@media (max-width: 950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

@media (width < 1200px) {
  .offer__container {
    row-gap: 1rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .offer__grid__top img:first-child,
  .offer__grid__bottom img:first-child {
    display: none;
  }

  .craft__container {
    gap: 1rem;
  }
}

@media (width < 900px) {
  .nav__actions {
    display: none;
  }
  .choose__grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }
  .choose__card h4 {
    margin-bottom: 0.6rem;
    font-size: 13px;
    font-weight: 900;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  .choose__card p {
    color: var(--text-light);
    font-size: 13px;
  }
  .choose__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .choose__container .choose__bg {
    left: 0;
    transform: translateX(0);
  }

  .choose__image {
    grid-area: 1/1/2/2;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .offer__grid__top img:nth-child(2),
  .offer__grid__bottom img:nth-child(4) {
    display: none;
  }

  .craft__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .modern__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }

  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .modern__content {
    margin-top: 18px;
  }
}

@media (width < 600px) {
  nav {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: #fefefe;
    z-index: 99;
  }

  .nav__links {
    position: absolute;
    left: 0;
    top: 139px;
    padding: 2rem;
    width: 100%;
    flex-direction: column;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.5s;
    background-color: rgba(251, 250, 250, 0.9);
  }
  .header__container p {
    padding-top: 2rem;
    text-align: start;
    line-height: 42px;
    margin-bottom: 4rem;
    font-size: 1.1rem;
    width: 100%;
  }
  .nav__links .link a {
    opacity: 0;
  }

  .nav__links.open .link a {
    opacity: 1;
    color: #0e7a48;
  }

  .nav__links.open {
    transform: scaleY(1);
  }

  .nav__menu__btn {
    display: block;
  }

  .header__container h1 {
    margin-top: 4rem;
    font-size: 2.5rem;
  }

  .offer__grid__top,
  .offer__grid__bottom {
    padding-inline: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
  }
}

/* scroll  */

.scroller {
  width: 100%;
  display: block;
  margin: auto auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */

.section__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section__subheader {
  font-size: 1.1rem;
  margin-bottom: 0rem;
}

.title-subheaders {
  text-align: center;
  padding-top: 30px;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list .advantages__lis {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.advantages__wrapper {
  display: flex;
  gap: 10px;
  animation: loopAnimation 14s linear infinite;
  width: 100%;
}
.advantages {
  display: flex;
  flex-direction: column;

  height: 50vh;
  background-color: #e4e4e4;
}
.advantage {
  background-color: white;
  gap: 1px;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 7px;
  padding: 1rem 5rem;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;

  flex-shrink: 0;
}

.advantage i {
  color: #0e7a48;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}
